.wrapper {
  display: flex;
  align-items: center;
  margin: 1rem 6rem;
  opacity: 0.7;
}

.left {
  display: flex;
  gap: 1rem;
  flex: 1;
}

.right {
  flex: 1;
  opacity: 0.4;
}

.img {
  height: 2rem;
}

.logo {
  height: 3.6rem;
}

.partner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text {
  font-size: 1.5rem;
  font-weight: 600;
  color: rgb(126, 126, 126);
}

.copy{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 1rem;
    border-top: 1px solid rgba(128, 128, 128, 0.438);
    border-width: 50%;
    font-size: 0.8rem;
    opacity: 0.8;
}

.copyright{
    font-weight: 500;
}

@media (max-width: 767px) {
  .wrapper{
    flex-direction: column;
    gap: 2rem;
  }

  .right{
   display: none;
  }
}